
html, body {
  width: 100%;
  height: 100%;
  background-color: #A70000;
}

h1 {
  color: white;
  font-size: 50px;
}

.App {
  text-align: center;
  border: black;
  border-radius: 4pt;
  
}



.HeaderContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 2px solid rgba(0, 0, 0, 0.5);
  margin-bottom: 2px;
  width: 100%;
}

.CustomReturnButton {
  border: 2px solid rgba(0, 0, 0, 0.8);
  border-radius: 8px;
  padding: 10px;
}

.CustomReturnButton:hover {
  background-color: #ffa341;
  cursor: pointer;
}



.MainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border: 2px solid rgba(0, 0, 0, 0.5) ;
  margin: 50px auto;
  padding: 10px 10px;
  height: 800px;
  width: 700px;
}



.SearchView {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 2px solid rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
}

.SearchInput {
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 14px;
  background-color: #EEEEEE;
  margin: 10px 10px;
  padding: 8px 10px;
  width: 200px;
}

.SearchListContainer {
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  background-color: #EEEEEE;
  margin: 10px 10px;
  height: 100%;
  width: 96%;
}



.CompanyView {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 8px ;
  background-color: #EEEEEE;
  height: 100%;
  width: 100%;
  
}

.CompanyInfoContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  background-color: #ffffff;
  margin-top: 20px;
  margin-bottom: 5;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px 10px;
  width: 90%;
}

.CompanyEventListContainer {
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  background-color: #ffffff;
  margin-bottom: 20px;
  padding: 10px 10px;
  width: 90%;
  height: 90%;
}







